In [2]:
"""

HYPOTHESIS TESTING

VERY Helpful in 
EDA - Exploratory data analysis
Feature engineering - (creating more data from existing data)
Dimentionality reduction - (reducing the size [columns] of your dataset)

"""

'\n\nHYPOTHESIS TESTING\n\nVERY Helpful in \nEDA - Exploratory data analysis\nFeature engineering - (creating more data from existing data)\nDimentionality reduction - (reducing the size [columns] of your dataset)\n\n'

In [0]:
"""
What is hypothesis - 

Any initial assumption / or previous knowledge 

"""

In [3]:
"""

2018 - 
Avegrage income in Mumbai is 40,000 

However in 2019 its possible that average income has increased - 

"""

'\n\n2018 - \nAvegrage income in Mumbai is 40,000 \n\nHowever in 2019 its possible that average income has increased - \n\n'

In [0]:
"""
TERMS 
Null hypothesis - 
What you are trying to prove/claim ----- Average income = 40,000

Alternative hypothesis - 
opposite of null hypothesis  -------- Average income Not equal to 40,00


We always try to prove that Alternative hyposthesis is SIGNIFICANTLY different from Null hypothesis
"""

In [0]:
"""
collect data of 100 random employees from 4 companies and take an average of their salary 

level of significance - 5000

Company 1 - 25 - 39,000
COmpany 2 - 25 - 42,000
Comapny 3 - 25 - 41,000
Company 4 - 25 - 50,000

Hence we can claim that most of the population of mumbai is earning around 40,000 so we ACCEPT null hypothesis

"""

In [0]:
"""
Demographics of ASIA
UN - Survey about the pay gap between the genders (2010) 
level of significance - 10%

Null hypothesis - Women are paid significantly less than MEN

Alternative hypothesis - Women are paid equal to men 


"""

In [0]:
"""
UN goes to 6 RANDOM countries and calculates the pay scale of MEN - WOMEN

Developed - Japan, South Korea
Under developed - Afganistan, Bangladesh
Developing - Russia, India

Developed - 
Japan - -5%
South Korea - +2%

Under Developed - 
Afganistan - -45%
Bangladesh - -30%

Developing - 
Russia - -12%
India - -15%

-5 + 2 + (-45) + (-30) + (-12) + (-15) 
--------------------------------------
              6

= -17.5

"""